* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Header NAV */
.logo,
.icons,
nav {
  display: flex;
  align-items: center;
}

nav {
  position: relative;
  justify-content: space-between;

  width: 100%;
  /* height: 100px; */
  height: min-content;
  padding: 15px 30px;
  background-color: rgb(60, 54, 54);
}

a {
  padding: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  background-color: rgba(255, 217, 0, 0.7);
}

.fa-magnifying-glass {
  position: relative;
  font-size: 20px;
}

#toggeler,
#lupa {
  display: none;
}

#lupa:checked ~ nav .icons label .lupa {
  display: none;
}

.lupa {
  position: absolute;
  left: -205px;
  top: -3.5px;
  width: 200px;

  padding: 4px 6px;
  border-radius: 10px;
  /* outline: none; */
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  width: 25px;
  height: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.lines {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
}

@media (max-width: 800px) {
  /* .links {
    position: absolute;
    left: 0;
    top: 99px;
    display: grid;
    height: 200%;
    width: 100%;
    padding: 20px;
    z-index: -1;
    background-color: rgb(60, 54, 54);
    background-color: rgb(176, 20, 20);
    
    transform: translateY(-50%);
   
    transition: all .4s linear;
  } */

  nav {
    display: grid;
    grid-template-areas:
      "logo icons"
      "links links";
    z-index: 10;
  }

  .logo {
    grid-area: logo;
  }

  .links {
    display: none;
    flex-direction: column;
    gap: 20px;
    text-align: right;
    grid-area: links;
  }

  .icons {
    grid-area: icons;
  }

  #toggeler:checked ~ nav .links {
    transform: translateY(0);
    display: flex;
  }

  .burger {
    display: flex;
  }
}

/* glutien FREE */
.clip {
  position: absolute;
  /* bottom: calc(-1% - 90px); */
  top: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 45px;
  height: 45px;

  /* background-color: rgba(92, 92, 88, 0.494); */

  /* animation-name: free-form;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear; */
  transform: rotate(-35deg);
}

.free {
  font-size: 20px;
  background: #8eff0d;
  background: linear-gradient(
    to top left,
    #8eff0d 0%,
    #29f1ff 50%,
    #4b469e 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  opacity: 0.7;
  animation-name: free;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes free {
  from {
    font-size: 50px;
    opacity: 0;
  }

  to {
    font-size: 20px;
    opacity: 0.7;
  }
}

@keyframes free-form {
  from {
    width: 90px;
    height: 90px;
    opacity: 0;
  }

  to {
    width: 50px;
    height: 50px;
    opacity: 0.7;
  }
}
/*  */

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.gluten-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  opacity: 0.7;

  animation-name: free-form;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: linear;
}

@media only screen and (max-width: 780px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.undo {
  width: 20px;
}

.card {
  width: 270px;
  height: 370px;
  margin: 15px;
  perspective: 1000px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card__inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  border-radius: 10px;

  background-color: thistle;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  overflow: hidden;
  z-index: -1;
  display: block;
  transform: rotateY(180deg);
}

.front,
.back {
  transition: all 0.5s linear;
}

.front {
  z-index: 1;
}

.heading {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
  background-color: darkslategrey;
}

.the-bread {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.bread {
  width: 100%;
  height: 200px;
}

.description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  font-style: italic;
}

p {
  font-size: 20px;
}

.flip-me {
  position: absolute;
  bottom: 1.5%;
  left: 0;
  right: 0;
  font-size: 14px;
  width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid rgb(70, 70, 70);
  border-radius: 10px;
  background-color: whitesmoke;
  color: rgb(70, 70, 70);
  text-transform: uppercase;
}

.flip-me:hover,
.flip-me:active {
  border: 2px solid black;
  color: black;
}

/* back side */

ul {
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
}

li {
  margin: 5px;
}

.price {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.return {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  background-color: gainsboro;
}

.flipped {
  transform: rotateY(180deg);
}
